{% extends base %}
{% load i18n %}
{% load static %}
{% load markdown %}
{% load template %}

{% block content %}

<div class="row">
  <div class="col-12">
    <div class="btn-group float-end" role="group">
      {% if localProject.enableExports %}
      <a href="/project/{{ remoteProject.path }}/{{ remoteProject.remoteIdentifier }}/documentation/print/" class="btn btn-outline-primary"><i class="fa fa-book"></i> {% trans "Download Documentation" %}</a>
      {% endif %}
    </div>
    <br><br><br>
  </div>
  <div class="col-4">
    {% with t='partials/tableofcontents'|template %}
      {% include t %}
    {% endwith %}
  </div>
  <div class="col-8 px-3">
    <h2 class="text-capitalize">{{ page.title }}</h2>
    {% autoescape off %}{{ page.content|markdown }}{% endautoescape %}
  </div>
  </div>
{% endblock %}
