{% load i18n %}
{% load dates %}
{% load template %}

<div class="white-box row mb-4">
    <div class="col-2 text-center">
        <a href="/project/{{ p.remoteProject.path }}/{{ p.remoteProject.id }}" class="nolink">
            <img {% if p.localProject.inactive %}class="p-2 greyscale" style="max-height: 100px !important"{% else %}class="p-2"{% endif %} src="{% if p.localProject.image %}{{ p.localProject.image.url }}{% else %}{{ p.remoteProject.avatar_url }}{% endif %}">
        </a>
    </div>
    <div class="col-5">
        <h4 class="card-title text-bold"><a href="/project/{{ p.remoteProject.path }}/{{ p.remoteProject.id }}" class="nolink"> {{ p.localProject.name }}</a></h4>
        {% if not p.localProject.inactive %}
        <div class="text-justify">
            <small class="text-muted">{{ p.remoteProject.description }}{{ p.error }}</small><br><br>
            {% if p.lastUpdate %}<small><em>{% trans "Letzte Aktivität:" %} {{ p.lastUpdate|date:settings.DATETIME_FORMAT }}</em></small>{% endif %}
            <br><br>
            {% for assignee in p.localProject.assignees.all %}
                <img src="{{ assignee.avatar.url }}" width="50" class="rounded-circle assignee-avatar" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ assignee.name }}">
            {% endfor %}
            {% for assignee in p.localProject.userprojectassignment_set.all %}
                <img src="https://software-design.de/static/img/team/unknown.png" width="50" class="rounded-circle float-end" style="margin-left: -20px;" data-bs-toggle="tooltip" data-bs-placement="top" title="{% if assignee.user.first_name and assignee.user.last_name %}{{ assignee.user.first_name }} {{ assignee.user.last_name }}{% else %}SD Mitarbeiter{% endif %}">
            {% endfor %}
            <br>
            {% if p.localProject.downloadablefile_set.count > 0 %}
                <br>
                <a href="/project/{{ p.remoteProject.path }}/{{ p.remoteProject.id }}/downloads/">
                    <i class="fa far fa-fw fa-file"></i>
                    {{ p.localProject.downloadablefile_set.count }} {% trans "Datei angehängt" %} &raquo;
                </a>
            {% endif %}
            {% if p.projectReleases|length > 0 %}
                <br>
                <a href="/project/{{ p.remoteProject.path }}/{{ p.remoteProject.id }}/downloads/">
                    <i class="fa far fa-fw fa-laptop-code"></i>
                    {{ p.projectReleases|length }} {% trans "Veröffentlichungen angehängt" %} &raquo;
                </a>
            {% endif %}
        </div>
        {% endif %}
    </div>
    <div class="col-5" style="border-left: 1px solid orange">
        <div class="badge bg-primary float-end">
            {{ p.remoteProject.open_issues_count|default:"0" }} {% trans "offene Tickets" %}
        </div>
        <br><br>
        {% if p.allMilestones and not p.localProject.inactive %}
            <ul>
            {% for milestone in p.allMilestones %}
                {% if milestone.state == 'active' and milestone.start_date|parse_date <= now and milestone.due_date|parse_date >= now %}
                    {% with t='partials/milestones'|template %}
                        {% include t with remoteProject=p.remoteProject %}
                    {% endwith %}
                {% endif %}
            {% endfor %}
            </ul>
        {% endif %}
        {% if p.remoteProject.path %}
        <br>
        <div class="btn-group float-end" role="group">
            {% if request.user.is_superuser and p.localProject.publicOverviewPassword %}
                <a href="/project/{{ p.remoteProject.path }}/{{ p.remoteProject.id }}/{{ p.localProject.publicAccessHash }}" class="btn btn-outline-primary" target="_blank" data-bs-toggle="tooltip" title="Zur öffentlichen Projektseite"><i class="fa far fa-globe"></i></a>
            {% endif %}
            {% if request.user.is_superuser %}
                <a href="/admin/userinterface/project/{{ p.localProject.pk }}/change/" class="btn btn-outline-primary" target="_blank" data-bs-toggle="tooltip" title="Zum Admin-Bereich"><i class="fa far fa-star"></i></a>
                <a href="{{ p.remoteProject.web_url }}" class="btn btn-outline-primary" target="_blank" data-bs-toggle="tooltip" title="Zum Repository"><i class="fab fa-gitlab"></i></a>
            {% endif %}
            <a href="/project/{{ p.remoteProject.path }}/{{ p.remoteProject.id }}" class="btn primary-bg float-end">{% trans "Zum Projekt &raquo;" %}</a>
        </div>
        {% endif %}
    </div>
</div>