[submodule "DevOpsCustomerView/userinterface/templates/sd"]
	path = DevOpsCustomerView/userinterface/templates/sd
	url = https://gitlab.com/sd-software-design/internal/gitlab-customer-view-sd-template
