venv/
*.pyc
.gitmodules
.DS_Store
uploads/
.coverage
coverage.xml
DevOpsCustomerView/db.sqlite3
DevOpsCustomerView/main/local.py
report.xml
DevOpsCustomerView/userinterface/templates/software-design
local.py
.vscode/