DevOpsCustomerView/db.sqlite3
DevOpsCustomerView/main/local.py
venv/
*.pyc
.gitmodules
DevOpsCustomerView/userinterface/templates/software-design
.DS_Store
.gitmodules
uploads/
.coverage
coverage.xml
