{% extends base %}
{% load i18n %}
{% load static %}
{% load dates %}
{% load template %}

{% block content %}
  {% if request.GET.error %}
  <div class="alert alert-danger" role="alert">
    {% trans "An error occurred while trying to save your issue. Please contact system administrator." %}
  </div>
  {% endif %}
  <div class="btn-group float-end" role="group">
    {% if localProject.enableTicketCreation %}
    <a href="/project/{{ remoteProject.path }}/{{ remoteProject.remoteIdentifier }}/issues/create" class="btn btn-outline-primary"><i class="fa far fa-plus"></i> {% trans "Create Ticket" %}</a>
    {% endif %}
    {% if localProject.enable_milestones %}
    <a href="/project/{{ remoteProject.path }}/{{ remoteProject.remoteIdentifier }}/milestones/" class="btn btn-outline-primary"><i class="fa far fa-tasks"></i> {% trans "Milestones" %}</a>
    {% endif %}
    {% if wikiPages and localProject.enable_documentation  %}
    <a href="/project/{{ remoteProject.path }}/{{ remoteProject.remoteIdentifier }}/documentation/" class="btn btn-outline-primary"><i class="fa far fa-book"></i> {% trans "Documentation" %}</a>
    {% endif %}
    {% if request.user.is_superuser %}
    <a href="{{ remoteProject.web_url }}" class="btn btn-outline-primary" target="_blank"><i class="fab fa-gitlab"></i></a>
    {% endif %}
  </div>

  <h1>{{ localProject.name }}</h1>
  {{ remoteProject.description }}
    <br><br>
    <strong>{% trans "Filter" %}:</strong><br>
    <div class="btn-group" role="group">
      <a href="?" class="btn btn-outline-primary"> {% trans "All" %}</a>
      <a href="?status=opened{% if request.GET.label %}&label={{ request.GET.label }}{% endif %}" class="btn btn-outline-primary"><i class="fa far fa-folder"></i> {% trans "Open" %}</a>
      <a href="?status=closed{% if request.GET.label %}&label={{ request.GET.label }}{% endif %}" class="btn btn-outline-primary"><i class="fa far fa-folder-open"></i> {% trans "Closed" %}</a>
    </div>
    <div class="dropdown float-end">
      <a class="btn btn-outline-primary dropdown-toggle" href="/project/{{ remoteProject.path }}/{{ remoteProject.remoteIdentifier }}/" id="labelDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa fa-tags"></i> {% if request.GET.label %}{% trans "Label" %} "{{ request.GET.label }}"{% else %}{% trans "Filter by label" %}{% endif %}
      </a>
      <ul class="dropdown-menu" aria-labelledby="labelDropdown">

        <a href="?" class="dropdown-item"> {% trans "All" %}</a>
        {% for label in projectLabels %}
          <a class="dropdown-item" href="?label={{ label.name }}{% if request.GET.status %}&status={{ request.GET.status }}{% endif %}"> {{ label.name }}</a>
        {% endfor %}
      </ul>
    </div>
    <br><br>
    <div class="row">
        <div class="col-12">
          <ul class="list-group">
          {% with t='partials/issues'|template %}
            {% include t with issues=issues large=True %}
          {% endwith %}
            </ul>
        </div>
          <div class="col-4">
            {% if request.GET.page|add:0 > 1 %}
              <a href="?page={{ request.GET.page|add:"-1" }}" class="btn btn-primary">{% trans "Previous Page" %}</a>
            {% endif %}
          </div>
        <div class="col-4 text-center pt-2">
            {% trans "Page" %} {% if request.GET.page %}{{ request.GET.page|add:1 }}{% else %}1{% endif %}
        </div>
          <div class="col-4 text-end">
            {% if issues|length == 20 %}
              <a href="?page={% if request.GET.page %}{{ request.GET.page|add:"1" }}{% else %}2{% endif %}" class="btn btn-primary">{% trans "Next Page" %}</a>
            {% endif %}
          </div>
    </div>
{% endblock %}