{% load i18n %}
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{ settings.INTERFACE_NAME }}</title>
    {% block metadata %}
      <meta name="description" content="{{ settings.INTERFACE_NAME }} allows access to projects and tickets managed within a GitLab instance." />
      <meta name="author" content="SD Software-Design GmbH" />
    {% endblock %}

    <link rel="icon" href="/favicon.ico" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

    {% block base_css %}
      <link rel="stylesheet" href="/static/cdn/css/bootstrap.min.css">
      <link rel="stylesheet" href="/static/cdn/css/font-awesome-all.min.css" />
    {% endblock %}
    {% block extra_css %}{% endblock %}

  </head>

  <body>
    {% block navigation %}
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">{{ settings.INTERFACE_NAME }}</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          {% if request.user.is_authenticated %}
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/overview/"><i class="fa fa-archive"></i> {% trans "All Projects" %}</a>
              </li>
              {% if remoteProject %}
              <li class="nav-item">
                <a class="nav-link disabled" aria-current="page" href="/overview/">|</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/project/{{ remoteProject.path }}/{{ remoteProject.id }}/" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <strong><i class="fa fa-folder-open"></i> {{ remoteProject.name }}</strong>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/project/{{ remoteProject.path }}/{{ remoteProject.id }}">{% trans "Overview" %}</a></li>
                  <li><hr class="dropdown-divider"></li>
                  {% if localProject.enableMilestones %}
                  <li><a class="dropdown-item" href="/project/{{ remoteProject.path }}/{{ remoteProject.id }}/milestones/">{% trans "Milestones / Kanban Board" %}</a></li>
                  {% endif %}
                  <li><a class="dropdown-item" href="/project/{{ remoteProject.path }}/{{ remoteProject.id }}/issues/">{% trans "Browse all Issues" %}</a></li>
                </ul>
              </li>
              {% endif %}

              {% if wikiPages and localProject.enableDocumentation  %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/project/{{ remoteProject.path }}/{{ remoteProject.id }}/" id="navbarWikiDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa fa-book"></i> {% trans "Documentation" %}
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarWikiDropdown">
                  <li><a class="dropdown-item" href="/project/{{ remoteProject.path }}/{{ remoteProject.id }}/documentation/">{% trans "Full  Documentation" %}</a></li>
                  <li><hr class="dropdown-divider"></li>
                  {% for wiki in wikiPages %}
                    <li><a class="dropdown-item" href="/project/{{ remoteProject.path }}/{{ remoteProject.id }}/documentation/?category={{ wiki.title }}">{{ forloop.counter }} {% if wiki.title == '/' %}{% trans 'Documentation' %}{% else %}{{ wiki.title }}{% endif %}</a></li>
                  {% endfor %}
                </ul>
              </li>
              {% endif %}
            </ul>
            <ul class="navbar-nav float-end mb-2 mb-lg-0">
              {% if request.user.is_superuser %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/overview/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa fa-book"></i> {% trans "Administration" %}
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarWikiDropdown">
                  <li><a class="dropdown-item" href="/admin/">{% trans "Administraion" %}</a></li>
                  <li><a class="dropdown-item" href="/cache/clear?redirect={{ request.path }}">{% trans "Clear cache" %}</a></li>
                  <li><a class="dropdown-item" href="/cache/warmup?redirect={{ request.path }}">{% trans "Warmup cache" %}</a></li>
                </ul>
              </li>
              {% endif %}
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/logout/"><i class="fa fa-power-off"></i></a>
              </li>
            </ul>
          </div>
          {% endif %}
        </div>
      </nav>
    {% endblock %}
    <br>
    {% block container %}
        <div class="container">
        {% block content %}
        {% endblock %}
          <br>
          <hr>  
          &copy; 2022
          <p class="float-end">powered by <a href="https://gitlab.com/software-design-public/gitlab-customer-view/" class="text-muted" target="_blank">GitLab Customer View</a></p>
          <br><br>
        </div>
    {% endblock %}
    
    {% block footer %}
    {% endblock %}

    {% block base_js %}
      <script src="/static/cdn/js/bootstrap.bundle.min.js"></script>
    {% endblock %}
    {% block extra_js %}
    {% endblock %}
  </body>
</html>
