{% extends './base.html' %}
{% load i18n %}
{% load static %}
{% load parse_date %}
{% load date_diff %}
{% load markdown %}

{% block content %}

<div class="btn-group float-end" role="group" aria-label="Basic outlined example">
  <button type="button" class="btn btn-outline-primary"><i class="fa fa-clock-rotate-left"></i> {% if issue.time_stats.human_time_estimate %}{{ issue.time_stats.human_time_estimate }}{% else %}{% trans 'No time' %}{% endif %} {% trans 'planned' %}</button>
  <button type="button" class="btn btn-outline-primary"><i class="far fa-clock"></i> {% if issue.time_stats.human_total_time_spent %}{{ issue.time_stats.human_total_time_spent }}{% else %}{% trans 'No time' %}{% endif %} {% trans 'spent' %}</button>
</div>

<h1>{{ project.name }}</h1>
<h2>#{{ issue.iid }} - {{ issue.title }}</h2>
  <br><br>
  <div class="row">
    <div class="col-4">
      <table class="table">
        <tr><td>{% trans 'State' %}</td><td>{{ issue.state }} {{ issue.closed_at|parse_iso|date:settings.DATETIME_FORMAT }} {{ issue.closed_as_duplicate_of }}</td></tr>
        <tr><td>{% trans 'Created' %}</td><td>{{ issue.created_at|parse_iso|date:settings.DATETIME_FORMAT }}</td></tr>
        <tr><td>{% trans 'Last Updated' %}</td><td>{{ issue.updated_at|parse_iso|date:settings.DATETIME_FORMAT }}</td></tr>
        <tr><td>{% trans 'Due Date' %}</td><td>{{ issue.due_date|parse_iso|date:settings.DATETIME_FORMAT }}</td></tr>
        <tr><td>{% trans 'Milestone' %}</td><td>{{ issue.milestone.title }}</td></tr>
        <tr><td>{% trans 'Labels' %}</td><td>{% for label in issue.labels %}<span class="badge bg-primary">{{ label }}</span>{% endfor %}</td></tr>
        <tr><td>{% trans 'Author' %}</td><td><img src="{{ issue.author.avatar_url }}" width="50"> {{ issue.author.name }}</td></tr>
        <tr><td>{% trans 'Assigned to' %}</td><td>{% for assignee in issue.assignees%}<img src="{{ assignee.avatar_url }}" width="50"> {{ assignee.name }}{% endfor %}</td></tr>
        <tr><td>{% trans 'Type' %}</td><td>{{ issue.issue_type }}</td></tr>
      </table>
    </div>
    <div class="col-7 offset-1">
      <br>
      <br><br>
      {% autoescape off %}{{ issue.description|markdown }}{% endautoescape %}
      </div>
      <div class="col-12">
            {% for note in  notes %}
              
              {{ note.author.name }} {% autoescape off %}{{ note.body|markdown }}{% endautoescape %} on {{ note.created_at|parse_iso|date:settings.DATE_FORMAT }}
              <hr>
            {% endfor %}
      </div>
  </div>
  
{% endblock %}