{% extends base %}
{% load i18n %}
{% load static %}
{% load dates %}
{% load markdown %}
{% load prettify %}

{% block content %}
<div class="btn-group float-end" role="group">
  {% if localProject.enableTicketCreation %}
  <a href="/project/{{ remoteProject.path }}/{{ remoteProject.id }}/issues/" class="btn btn-outline-primary"><i class="fa far fa-envelope-open-text"></i> {% trans "All Issues" %}</a>
  {% endif %}
  {% if request.user.is_superuser %}
  <a href="{{ remoteProject.web_url }}/-/issues/new" class="btn btn-outline-primary" target="_blank"><i class="fab fa-gitlab"></i></a>
  {% endif %}
</div>
<h1>Create new issue</h1>
  <br>
  <div class="row">
    <div class="col-5">
      <div style="height: 200px; width: 90%; background-image: url('{% if localProject.image %}{{ localProject.image.url }}{% else %}{{ remoteProject.avatar_url }}{% endif %}'); background-size: contain; background-position: center; background-repeat: no-repeat; margin: 5% 5%;"></div>
      <br>
      <table class="table table-striped">
        <tr><th>{% trans 'Project' %}</th><td>{{ remoteProject.name }}</td></tr>
        <tr><th>{% trans 'Description' %}</th><td>{{ remoteProject.description }}</td></tr>
      </table>
    </div>
    <div class="col-7 px-3">
      <form method="post">
        {% csrf_token %}
          <div class="form-floating">
            <input type="text" name="title" class="form-control" placeholder="{% trans "Title of the ticket" %}" required>
            <label>{% trans "Title of the ticket" %}</label>
          </div>
        <br>
        <div class="form-floating">
          <select class="form-select" name="milestone" aria-label="{% trans "Milestone" %}">
            {% for milestone in allMilestones %}
                {% if milestone.state == 'active' %}
                <optgroup label="{% trans "Until" %} {{ milestone.due_date|parse_date|date:settings.DATE_FORMAT }}">
                  <option value="{{ milestone.id }}">{{ milestone.title }}</option>
                </optgroup>
                {% endif %}
            {% endfor %}
          </select>
          <label for="floatingSelect">{% trans "Milestone" %}</label>
        </div>
        <br>

        <div class="form-floating">
          <select class="form-select" name="label" aria-label="{% trans "Label" %}">
            {% for label in projectLabels %}
              {% if not localProject.labelPrefix or label.name|startswith:localProject.labelPrefix %}
              <option value="{{ label.name }}">{% with names=label.name|split:"::" %}{% if names|length > 1 %}{{ names.0|capfirst }}: {{ names.1|capfirst }}{% else %}{{ names.0|capfirst }}{% endif %}{% endwith %}</option>
              {% endif %}
            {% endfor %}
          </select>
          <label for="floatingSelect">{% trans "Label" %}</label>
        </div>
        <br>
        <div class="form-floating">
          <textarea class="form-control" placeholder="{% trans "Description" %}" name="description" style="height: 300px"></textarea>
          <label for="floatingTextarea2">{% trans "Description" %}</label>
        </div>
        <br>
        <input type="submit" class="btn btn-primary float-end">
      </form>
    </div>
</div>

{% endblock %}