{% extends base %}
{% load i18n %}
{% load static %}
{% load dates %}
{% load numbers %}
{% load markdown %}
{% load prettify %}
{% block content %}

<h2>
  #{{ issue.data.iid }} - {{ issue.data.title }}
  {% if request.user.is_superuser %}
    <a href="{{ issue.data.web_url }}" target="_blank">
      <i class="fab fa-gitlab float-end"></i>
    </a>
  {% endif %}
</h2>
<h3>
  <i class="fa far fa-archive"></i> {{ remoteProject.name }} 
  {% if issue.data.milestone %}
    <span class="float-end"><i class="far fa-clipboard-list"></i> {{ issue.data.milestone.title }}</span>
  {% endif %}
</h3>
<br />
<div class="row">
  <div class="col-5">
    <table class="table table-striped">
      <tr>
        <th>{% trans 'State' %}</th>
        <td>
          {% if issue.data.state == 'opened' %}
            {% trans "Open" %}
          {% else %}
            {% trans "Closed on" %} {{ issue.data.closed_at|parse_iso|date:settings.DATETIME_FORMAT }} 
            {{ issue.data.closed_as_duplicate_of }}h
          {% endif %}
        </td>
      </tr>
      {% if issue.data.milestone %}
      <tr>
        <th>{% trans 'Milestone' %}</th>
        <td>
          <i class="far fa-clipboard-list"></i>
          <a href="/project/{{ remoteProject.path }}/{{ remoteProject.id }}/milestone/{{ issue.data.milestone.id }}">
            {{ issue.data.milestone.title }}
          </a>
          {% if request.user.is_superuser %}
          <a href="{{ issue.data.milestone.web_url }}" target="_blank">
            <i class="fab fa-gitlab"></i>
          </a>
          {% endif %} 
          <br />
          <small class="text-muted">
            {{ issue.data.milestone.start_date|parse_date|date:settings.DATE_FORMAT }} - 
            {{ issue.data.milestone.due_date|parse_date|date:settings.DATE_FORMAT }}
          </small>
        </td>
      </tr>
      {% endif %}
      <tr>
        <th>{% trans 'Created' %}</th>
        <td>
          {{ issue.data.created_at|parse_iso|date:settings.DATETIME_FORMAT }}h
        </td>
      </tr>
      <tr>
        <th>{% trans 'Updated' %}</th>
        <td>
          {{ issue.data.updated_at|parse_iso|date:settings.DATETIME_FORMAT }}h
        </td>
      </tr>
      {% if issue.data.due_date %}
      <tr>
        <th>{% trans 'Due Date' %}</th>
        <td>
          {{ issue.data.due_date|parse_iso|date:settings.DATETIME_FORMAT }}
        </td>
      </tr>
      {% endif %} {% if issue.data.labels|length > 0 %}
      <tr>
        <th>{% trans 'Labels' %}</th>
        <td>
          {% for label in issue.data.labels %}
            <span class="badge bg-primary">{{ label }}</span>
          {% endfor %}
        </td>
      </tr>
      {% endif %}
      {% with employee=issue.data.author.username|getTeamMember %}
      <tr>
        <th>{% trans 'Author' %}</th>
        <td>
          {% include './partials/employee.html' with employee=employee user=issue.data.author %}
        </td>
      </tr>
      {% endwith %} 
      {% if issue.data.assignees|length > 0 %}
      <tr>
        <th>{% trans 'Assigned' %}</th>
        <td>
          {% for assignee in issue.data.assignees%}
            {% with employee=assignee.username|getTeamMember %}
              {% include './partials/employee.html' with employee=employee user=assignee %}
            {% endwith %}
          {% endfor %}
        </td>
      </tr>
      {% endif %}
    </table>
    <br />

    {% if issue.data.time_stats.human_time_estimate and issue.data.time_stats.human_total_time_spent %}
    <div class="progress" style="height: 20px">
      <div
        class="progress-bar bg-primary"
        role="progressbar"
        style="width: {% widthratio issue.data.time_stats.human_total_time_spent|intval issue.data.time_stats.human_time_estimate|intval 100 %}%;"
        aria-valuenow="{% widthratio issue.data.time_stats.human_total_time_spent|intval issue.data.time_stats.human_time_estimate|intval 100 %}"
        aria-valuemin="0"
        aria-valuemax="100"
      >
      {% widthratio issue.data.time_stats.human_total_time_spent|intval issue.data.time_stats.human_time_estimate|intval 100 %} %
      </div>
    </div>
    <br />
    {% endif %}
    <div class="btn-group w-100" role="group">
      <button type="button" class="btn btn-outline-primary">
        <i class="far fa fa-clock"></i>
        {% if issue.data.time_stats.human_total_time_spent %}
          {{ issue.data.time_stats.human_total_time_spent }} {% trans 'spent' %}
        {% else %}
          {% trans 'No time spent' %}
        {% endif %}
      </button>
      <button type="button" class="btn btn-outline-primary">
        <i class="far fa fa-history"></i> 
        {% if issue.data.time_stats.human_time_estimate %}
          {{ issue.data.time_stats.human_time_estimate }}
        {% else %}
          {% trans 'No time' %}
        {% endif %}
        {% trans 'planned' %}
      </button>
    </div>
  </div>
  <div class="col-7 px-3">
    {% autoescape off %}
      {{ issue.data.description|translateDescriptions|markdown|linebreaks }}
    {% endautoescape %}
  </div>
  <div class="col-12">
    <br /><br />
    <h3>{% trans 'Progress' %}</h3>
    <div class="text-muted">
      {% for note in issue.notes %} 
        {% if note.system == True %}
          <div class="alert alert-light" role="alert">
            <small><i class="far fa-calendar-plus"></i>
              {{ note.created_at|parse_iso|date:settings.DATE_FORMAT }} -
              <strong>{{ note.author.name }}</strong> 
              {% autoescape off %}
                {{ note.body|markdown|translateDescriptions }}
              {% endautoescape %}
            </small>
          </div>
        {% else %}
          <div class="alert alert-secondary" role="alert">
            <h5>
              <img src="{{ note.author.avatar_url }}" width="25" />
              <strong>{{ note.author.name }}</strong> {% trans 'wrote on' %}
              {{ note.created_at|parse_iso|date:settings.DATE_FORMAT }}:
            </h5>
            {% autoescape off %}
              {{ note.body|markdown|translateDescriptions }}
            {% endautoescape %}
          </div>
        {% endif %}
      <hr />
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}