{% extends base %}
{% load i18n %}
{% load static %}
{% load parse_date %}
{% load date_diff %}
{% load markdown %}
{% load prettify %}

{% block content %}

<h2>#{{ issue.iid }} - {{ issue.title }}</h2>
<h3><i class="far fa-archive"></i> {{ project.name }} <span class="float-end"><i class="far fa-folder-open"></i> {{ issue.milestone.title }}</span></h3>
  <br>
  <div class="row">
    <div class="col-4">
      <table class="table table-striped">
        <tr><th>{% trans 'State' %}</th><td>{{ issue.state }} {% if issue.closed_at %}{% trans "at" %} {{ issue.closed_at|parse_iso|date:settings.DATETIME_FORMAT }} {{ issue.closed_as_duplicate_of }}h{% endif %}</td></tr>
        <tr><th>{% trans 'Created' %}</th><td>{{ issue.created_at|parse_iso|date:settings.DATETIME_FORMAT }}h</td></tr>
        <tr><th>{% trans 'Last Updated' %}</th><td>{{ issue.updated_at|parse_iso|date:settings.DATETIME_FORMAT }}h</td></tr>
        {% if issue.due_date %}
        <tr><th>{% trans 'Due Date' %}</th><td>{{ issue.due_date|parse_iso|date:settings.DATETIME_FORMAT }}</td></tr>
        {% endif %}
        <tr><th>{% trans 'Labels' %}</th><td>{% for label in issue.labels %}<span class="badge bg-primary">{{ label }}</span> {% endfor %}</td></tr>
        <tr><th>{% trans 'Author' %}</th><td><img src="{{ issue.author.avatar_url }}" width="50"> <strong>{{ issue.author.name }}</strong></td></tr>
        {% if issue.assignees|length > 0 %}
          <tr><th>{% trans 'Assigned to' %}</th><td>{% for assignee in issue.assignees%}<img src="{{ assignee.avatar_url }}" width="50"> <strong>{{ assignee.name }}</strong>{% endfor %}</td></tr>
        {% endif %}
      </table>
      <br>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-outline-primary"><i class="far fa-history"></i> {% if issue.time_stats.human_time_estimate %}{{ issue.time_stats.human_time_estimate }}{% else %}{% trans 'No time' %}{% endif %} {% trans 'estimated' %}</button>
        <button type="button" class="btn btn-outline-primary"><i class="far fa-clock"></i> {% if issue.time_stats.human_total_time_spent %}{{ issue.time_stats.human_total_time_spent }}{% else %}{% trans 'No time' %}{% endif %} {% trans 'spent' %}</button>
      </div>
    </div>
    <div class="col-7 offset-1">
      {% autoescape off %}{{ issue.description|markdown|translateDescriptions }}{% endautoescape %}
      </div>
      <div class="col-12">
        <br><br>
        <h3>{% trans 'Progress' %}</h3>
        <div class="text-muted">
            {% for note in  notes %}
              {% if note.system == True %}
              <div class="alert alert-light" role="alert">
                <small><i class="far fa-calendar-plus"></i> {{ note.created_at|parse_iso|date:settings.DATE_FORMAT }} - <strong>{{ note.author.name }}</strong> {% autoescape off %}{{ note.body|markdown|translateDescriptions }}{% endautoescape %}</small>
              </div>
              {% else %}
              <div class="alert alert-secondary" role="alert">
                <h5><img src="{{ note.author.avatar_url }}" width="25"> <strong>{{ note.author.name }}</strong> {% trans 'wrote on' %} {{ note.created_at|parse_iso|date:settings.DATE_FORMAT }}:</h5>
                {% autoescape off %}{{ note.body|markdown|translateDescriptions }}{% endautoescape %}
              </div>
              {% endif %}
              <hr>
            {% endfor %}
        </div>
      </div>
  </div>
  
{% endblock %}