{% extends base %}
{% load i18n %}

{% block content %}

<h1>{% trans "Login" %}</h1>
<form class="form-signin" action="/overview">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Sign in" %}</button>
  </form>
<br>
{% endblock %}