{% extends base %}
{% load i18n %}
{% load static %}
{% load dates %}

{% block content %}

  <div class="row">
    <div class="col-12">
        <div class="row">
          <div class="col-md-4">
            <h4>{% trans 'Expired Milestones' %}</h4>
            {% for milestone in milestones %} 
              {% if milestone.state == 'active' and milestone.due_date and milestone.due_date|parse_date < now %}
                {% include './partials/milestones.html' %}
              {% endif %}
            {% endfor %}
            <br />
          </div>
          <div class="col-md-4">
            <h4>{% trans 'Current Milestones' %}</h4>
            {% for milestone in milestones %} 
              {% if milestone.state == 'active' and not milestone.start_date or milestone.start_date|parse_date <= now and milestone.due_date|parse_date >= now %}
                {% include './partials/milestones.html' %}
                <br>
              {% endif %}
            {% endfor %}
            <br />
          </div>
          <div class="col-md-4">
            <h4>{% trans 'Upcomming Milestones' %}</h4>
            {% for milestone in milestones %} 
              {% if milestone.state == 'active' and milestone.start_date and milestone.start_date|parse_date >= now %}
                {% include './partials/milestones.html' %}
              {% endif %}
            {% endfor %}
            <br />
          </div>
        </div>
    </div>
  </div>
  
{% endblock %}