{% extends base %}
{% load i18n %}
{% load parse_date %}

{% block content %}
<h1>{% trans "All your projects with us" %}</h1>
  <br>
  <div class="row">
  {% for p in projects %}
    <div class="col-3">
      <div class="card">
          <div class="card-img-top" style="height: 200px; width: 90%; background-image: url('{{ p.project.avatar_url }}'); background-size: contain; background-position: center; background-repeat: no-repeat; margin: 5% 5%;"></div>
          <div class="card-body">
            <h5 class="card-title">{{ p.project.name }}</h5>
            <p class="card-text">{{ p.project.description }}
              <br><br>
              <strong>{% trans "Current Milestone(s)" %}:</strong><br>
              {% for milestone in p.milestones %} 
                {% if milestone.start_date|parse_date <= now and milestone.due_date|parse_date >= now %}
                  &raquo; {{ milestone.title }}<br>
                {% endif %}
              {% endfor %} <br />
            </p>
            <a href="/project/{{ p.project.path }}/{{ p.project.id }}" class="btn btn-primary">{% trans "Go to project &raquo;" %}</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}