{% extends base %}
{% load i18n %}
{% load dates %}

{% block content %}
<h1>{% trans "All your projects with us" %}</h1>
  <br>
  <div class="row">
  {% for p in projects %}
    <div class="col-3">
      <div class="card">
          <div class="card-img-top">
            <div style="height: 200px; width: 90%; background-image: url('{% if p.localProject.image %}{{ p.localProject.image.url }}{% else %}{{ p.remoteProject.avatar_url }}{% endif %}'); background-size: contain; background-position: center; background-repeat: no-repeat; margin: 5% 5%;"></div>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ p.remoteProject.name }}</h5>
            <p class="card-text">{{ p.remoteProject.description }}{{ p.error }}
              <br><br>
              <strong>{% trans "Current Milestone(s)" %}:</strong><br>
              {% for milestone in p.allMilestones %} 
                {% if milestone.start_date|parse_date <= now and milestone.due_date|parse_date >= now %}
                  &raquo; {{ milestone.title }}<br>
                {% endif %}
              {% endfor %} <br />
            </p>
            {% if p.remoteProject.path %}
            <a href="/project/{{ p.remoteProject.path }}/{{ p.remoteProject.id }}" class="btn btn-primary">{% trans "Go to project" %} &raquo;</a>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}