{% extends base %}
{% load i18n %}
{% load static %}
{% load parse_date %}
{% load date_diff %}


{% block extra_css %}
  <link rel="stylesheet" href="{% static 'vendor/frappe-gantt/frappe-gantt.css' %}">
{% endblock %}

{% block extra_js %}
<script src="{% static 'vendor/frappe-gantt/frappe-gantt.js' %}"></script>
<script>
  var tasks = [
  {% for milestone in milestones %} 
    
    {% if milestone.start_date and milestone.due_date %}
      {% with milestone.due_date|parse_date|dayssince as dayssince %}
        {% if milestone.expired == False or milestone.expired == True and dayssince < 365 %}
        {
          id: '{{ milestone.id }}',
          name: '{{ milestone.title }}',
          start: '{{ milestone.start_date|parse_date|date:"Y-m-d" }}',
          end: '{{ milestone.due_date|parse_date|date:"Y-m-d" }}',
          progress: 0,
        },
        {% endif %}
      {% endwith %}
    {% endif %}
  {% endfor %}
  ]
  var gantt = new Gantt(document.querySelector('#gantt'), tasks, {
      header_height: 50,
      column_width: 30,
      step: 24,
      bar_height: 40,
      bar_corner_radius: 0,
      arrow_curve: 5,
      padding: 18,
      {% with project.created_at|parse_iso|dayssince as dayssince %}
        {% if dayssince < 180 or milestones|length == 1 %}
          view_mode: 'Week',
        {% elif dayssince < 365 %}
          view_mode: 'Month',
        {% else %}
          view_mode: 'Year',
        {% endif %}
      {% endwith %}
      date_format: 'YYYY-MM-DD',
  });
</script>
{% endblock %}

{% block content %}

<div class="btn-group float-end" role="group" aria-label="Basic outlined example">
  <button type="button" class="btn btn-outline-primary"><i class="fa fa-plus"></i> {% trans "Create Ticket" %}</button>
</div>

<h1>{{ project.name }}</h1>
{{ project.description }}
  <br><br>
  <div class="row">
    <div class="col-3">
      <div class="card-img-top" style="height: 200px; width: 90%; background-image: url('{{ project.avatar_url }}'); background-size: contain; background-position: center; background-repeat: no-repeat; margin: 5% 5%;"></div>
    </div>
    <div class="col-9">
      <br>
      <svg id="gantt"></svg>
    </div>
    <div class="col-12">
      <br>
        <strong>{% trans "Last updated issues" %}</strong><br>
              <ul class="list-group">
              {% include './partials/issues.html' with issues=issues %}
                </ul> <br /><br>
    </div>
    <div class="col-12">
        <div class="row">
          <div class="col-md-4">
            <h4>{% trans 'Expired Milestones' %}</h4>
            {% for milestone in milestones %} 
              {% if milestone.state == 'active' and milestone.due_date and milestone.due_date|parse_date < now %}
                {% include './partials/milestones.html' %}
              {% endif %}
            {% endfor %}
            <br />
          </div>
          <div class="col-md-4">
            <h4>{% trans 'Current Milestones' %}</h4>
            {% for milestone in milestones %} 
              {% if milestone.state == 'active' and not milestone.start_date or milestone.start_date|parse_date <= now and milestone.due_date|parse_date >= now %}
                {% include './partials/milestones.html' %}
                <br>
              {% endif %}
            {% endfor %}
            <br />
          </div>
          <div class="col-md-4">
            <h4>{% trans 'Upcomming Milestones' %}</h4>
            {% for milestone in milestones %} 
              {% if milestone.state == 'active' and milestone.start_date and milestone.start_date|parse_date >= now %}
                {% include './partials/milestones.html' %}
              {% endif %}
            {% endfor %}
            <br />
          </div>
        </div>
    </div>
  </div>
  
{% endblock %}