{% extends './base.html' %}
{% load i18n %}
{% load static %}
{% load markdown %}

{% block content %}

<div class="row">
  <div class="col-12">
    <div class="btn-group float-end" role="group" aria-label="Basic outlined example">
      <button type="button" class="btn btn-outline-primary"><i class="fa fa-book"></i> Download Documentation</button>
      <button type="button" class="btn btn-outline-primary"><i class="fa fa-plus"></i> Create Ticket</button>
    </div>
    <br><br><br>
  </div>
  <div class="col-3">
    {% include './partials/tableofcontents.html' %}
  </div>
  <div class="col-8 offset-1">
    <h2>{{ page.title }}</h2>
    {% autoescape off %}{{ page.content|markdown }}{% endautoescape %}
  </div>
  </div>
{% endblock %}
