{% extends './base.html' %}
{% load i18n %}
{% load static %}

{% block content %}

<div class="btn-group float-end" role="group" aria-label="Basic outlined example">
  <button type="button" class="btn btn-outline-primary"><i class="fa fa-book"></i> Download Documentation</button>
  <button type="button" class="btn btn-outline-primary"><i class="fa fa-plus"></i> Create Ticket</button>
</div>

<h1>{{ project.name }}</h1>
  {{ project.description }}
  <br>
  <div class="row">
    <div class="col-3">
      <div class="card-img-top" style="height: 200px; width: 90%; background-image: url('{{ project.avatar_url }}'); background-size: contain; background-position: center; background-repeat: no-repeat; margin: 5% 5%;"></div>
    </div>
    <div class="col-9">
      <br>
      {% if not request.GET.category %}
        <h3>{% trans "Documentation" %}</h3>
      {% else %}
        <h3>{% trans "Chapter" %} "{{ request.GET.category }}"</h3>
      {% endif %}
          {% include './partials/tableofcontents.html' %}
          <br />
      </div>
  </div>
  
{% endblock %}