{% load i18n %}
{% load markdown %}
<html>
  <head>
    <link rel="stylesheet" href="{{ settings.INTERFACE_URL }}/static/cdn/css/bootstrap.min.css">
    <style>

    </style>
  </head>
  <body class="p-3 pt-4">
      <div style="width: 80%; float: left;">
        <h1>{% trans "Documentation" %}</h1>
        <br><br>
        {% include '../partials/tableofcontents.html' with links=False %}
        <br />
      </div>
      <div style="width: 20%; float: right;">
        {% if localProject.image %}
          <img src="{{ settings.INTERFACE_URL }}{{ localProject.image.url }}" class="float-end" width="200">
        {% endif %}
      </div>
    <div class="row">
    {% for path, category in wikiPages.items %}
        {% with forloop.counter as no %}
        <div style = "display:block; clear:both; page-break-after:always;"></div>
        <div class="col-12 pt-4">
          <h3 class="text-capitalize">{{ no }} {% if path == '/' %}{% trans 'Documentation' %}{% else %}{{ path }}{% endif %}</h3>
              {% for page in category %}
                {% if forloop.counter != 1 %} <div style="display:block; clear:both; page-break-after:always;"></div>{% endif %}
                <h2 class="text-capitalize pt-4">{{ no }}.{{ forloop.counter }} {{ page.title }}</h2>
                <div class="px-4">
                  {% wikicontent page.slug localProject remoteProject %}
                </div>
              {% endfor %}
        </div>
        {% endwith %}
    {% endfor %}
      </div>
  </body>
</html>