{% load i18n %}
{% load markdown %}
{% load template %}
{% load dates %}

<html>
  <head>
    <script defer src="https://software-design.de/static/vendor/bootstrap-5.1.3/js/bootstrap.bundle.min.js"></script>
    <style>
      table {
        width: 1000px;
      }
      body {
        font-family: "Arial", sans-serif;
      }
    </style>
    <link rel="stylesheet" href="https://software-design.de/static/vendor/bootstrap-5.1.3/css/bootstrap.min.css">
  </head>
  <body class="p-5">
      <div style="width: 80%; padding-right: 20px; float: left">
        <h1>{% trans "Overview" %}: {{ localProject.name }}</h1>
        <br><br>
        <div style="line-height: 1.3em;">
          {{ remoteProject.description}}
        </div>
        <br />
      </div>
      <div style="width: 20%; float: right;">
        {% if localProject.image %}
          <img src="{{ settings.INTERFACE_URL }}{{ localProject.image.url }}" class="float-end" height="80" width="auto">
        {% endif %}
      </div>
    <table class="w-100 table">
      <tr>
        <th>{% trans "Issue" %}</th>
        <th>{% trans "Title" %}</th>
        <th>{% trans "Last updated" %}</th>
        <th>{% trans "Total time spent" %}</th>
      </tr>
    {% for issue in issues %}
      <tr>
        <td>
          #{{ issue.iid }}
        </td>
        <td>
          {{ issue.title }}
        </td>
        <td>
          {{ issue.updated_at|parse_iso|date:settings.DATE_FORMAT }}
        </td>
        <td>
          {{ issue.time_stats.human_total_time_spent }}
        </td>
      </tr>
    {% endfor %}
    </table>
  </body>
</html>