{% load i18n %}
{% load markdown %}
{% load template %}
{% load dates %}

<html>
  <head>
    <link rel="stylesheet" href="{{ settings.INTERFACE_URL }}/static/cdn/css/bootstrap.min.css">
    <style>
        body {
            font-size: 20px;
            font-family: 'Helvetica';
        }
    </style>
  </head>
  <body class="p-5">
      <div style="width: 80%; padding-right: 20px; float: left">
        <h1>{% trans "Overview" %}: {{ localProject.name }}</h1>
        <br><br>
        <div style="line-height: 1.3em;">
          {% autoescape off %}{{ remoteProject.description|markdown }}{% endautoescape %}
        </div>
        <br />
      </div>
      <div style="width: 20%; float: right;">
        {% if localProject.image %}
          <img src="{{ settings.INTERFACE_URL }}{{ localProject.image.url }}" class="float-end" width="200">
        {% endif %}
      </div>
    <table class="w-100 table">
      <tr>
        <th>{% trans "Issue" %}</th>
        <th>{% trans "Title" %}</th>
        <th>{% trans "Last updated" %}</th>
        <th>{% trans "Total time spent" %}</th>
      </tr>
    {% for issue in issues %}
      <tr>
        <td>
          #{{ issue.iid }}
        </td>
        <td>
          {{ issue.title }}
          {% for line in issue.invoice_notes %}
            {% if line %}
            <br>
            <small>{{ line }}</small>
            {% endif %}
          {% endfor %}
        </td>
        <td>
          {{ issue.updated_at|date:settings.DATE_FORMAT }}
        </td>
        <td>
          {% getTimeDifferences issue "spend" start end %}
        </td>
      </tr>
    {% endfor %}
    </table>
  </body>
</html>