{% load embellish %}
{% load i18n %}
<div class="col-md-12 pb-3">
    <div class="team__members">
        {% for team in localProject.teams.all %}
            {% for member in team.members.all %}
                <div class="team__member row mb-3">
                    <div class="col-3 text-end">
                        {% if member.avatar and member.avatar.url %}
                            {% if member.homepage %}
                                <a href="{{ member.homepage }}" target="_blank" class="nolink">
                            {% endif %}
                                <img src="{{ member.avatar.url }}" width="75" class="rounded-circle team__member-avatar">
                            {% if member.homepage %}
                                </a>
                            {% endif %}
                        {% else %}
                            <img src="https://software-design.de/static/img/team/unknown.png" width="75" class="rounded-circle team__member-avatar">
                        {% endif %}
                    </div>
                    <div class="col-9">
                        {% if member.homepage %}
                            <a href="{{ member.homepage }}" target="_blank" class="text-decoration-none text-secondary nolink">
                        {% endif %}
                            <strong class="nolink">
                                {{ member.user.get_full_name }} {% if member.homepage %}&raquo;{% endif %}
                            </strong><br>
                        {% if member.homepage %}
                            </a>
                        {% endif %}

                        {% if member.email %}
                            <i class="far fa-envelope"></i> &nbsp;<a href="mailto:{{ member.email }}">{{ member.email }}</a><br>
                        {% endif %}
                        {% if member.phone %}
                            <i class="far fa-phone"></i> &nbsp;<a href="tel:{{ member.phone }}">{{ member.phone }}</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</div>