{% load i18n %}
{% load dates %}
{% load embellish %}

{% for file in files %} 
    <a href="{% if file.file %}/project/{{ remoteProject.path }}/{{ remoteProject.id }}/download/{{ file.file.name }}{% else %}{{ file.link }}{% endif %}" class="text-decoration-none">
        <li class="list-group-item">
            <small class="float-end">
                <span class="badge bg-secondary rounded-pill">
                    {% if file.file %}
                        {% widthratio file.file.size 1000 1 %} Kb
                    {% else %} 
                        <i class="fa far fa-external-link-alt"></i> 
                    {% endif %}
                </span>
            </small>
            <strong>
                {{ file.name }}
            </strong><br>
            <div class="row">
            <div class="text-muted col-6">
                {% if file.date %}
                {{ file.date|date:settings.DATE_FORMAT }}
                {% endif %}
            </div>
            <div class="text-muted text-end col-6">
                {% if file.file %}
                    {{ file.extension }} {% trans "File" %}
                {% endif %}
            </div>
            </div>
        </li>
    </a> 
{% endfor %}