{% load i18n %}
{% load dates %}
{% load template %}

<div class="row pt-5 mb-5">
    <div class="col-md-3">
        <a href="/project/{{ p.remoteProject.path }}/{{ p.remoteProject.remoteIdentifier }}">
            <img class="w-100" src="{% if p.localProject.image %}{{ p.localProject.image.url }}{% else %}{{ p.remoteProject.avatar_url }}{% endif %}" alt="{% trans "No image found" %}">
        </a>
    </div>
    <div class="col-md-9">
        <h5 class="card-title">{{ p.localProject.name }}</h5>
        <p class="card-text">{{ p.remoteProject.description }}{{ p.error }}<br>
        {% if p.mostRecentIssues.0.updated_at != '?' %}
        <small><em>{% trans "Last activity:" %} {{ p.mostRecentIssues.0.updated_at }}</em></small>
        {% endif %}

        <br><br>
        {% if p.localProject.enable_milestones and not p.localProject.inactive %}
            <strong>{% trans "Current Milestone(s)" %}:</strong><br>
            {% for milestone in p.allMilestones %}
                &raquo; {{ milestone.title }}<br>
            {% endfor %} <br />
        {% endif %}
        </p>
        {% if not p.localProject.inactive %}
        <a href="/project/{{ p.remoteProject.path }}/{{ p.remoteProject.remoteIdentifier }}" class="btn btn-primary">{% trans "Go to project" %} &raquo;</a>
        {% endif %}
    </div>
</div>