{% load i18n %}
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{% if localProject %}{{ localProject.name }} - {% endif %}{{ settings.INTERFACE_NAME }}</title>
    {% block metadata %}
      <meta name="description" content="{{ settings.INTERFACE_NAME }} allows access to projects and tickets managed within a GitLab instance." />
      <meta name="author" content="SD Software-Design GmbH" />
      <link rel="icon" href="/static/favicon.ico">
    {% endblock %}

    <link rel="icon" href="/favicon.ico" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

    {% block base_css %}
      <link rel="stylesheet" href="/static/cdn/css/bootstrap.min.css">
      <link rel="stylesheet" href="/static/cdn/css/font-awesome-all.min.css" />
      <link rel="stylesheet" href="/static/vendor/simplemde/simplemde.min.css" />
      <link rel="stylesheet" href="/static/css/base.css" />
    {% endblock %}
    {% block extra_css %}{% endblock %}

  </head>

  <body>
    {% block navigation %}
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">{{ settings.INTERFACE_NAME }}</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          {% if request.user.is_authenticated %}
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/overview/"><i class="fa fa-archive"></i> {% trans "All Projects" %}</a>
              </li>
              {% if remoteProject %}
              <li class="nav-item">
                <a class="nav-link disabled" aria-current="page" href="/overview/">|</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/project/{{ remoteProject.path }}/{{ remoteProject.id }}/" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <strong><i class="fa fa-folder-open"></i> {{ localProject.name }}</strong>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/project/{{ remoteProject.path }}/{{ remoteProject.id }}">{% trans "Overview" %}</a></li>
                  <li><hr class="dropdown-divider"></li>
                  {% if localProject.enableMilestones %}
                  <li><a class="dropdown-item" href="/project/{{ remoteProject.path }}/{{ remoteProject.id }}/milestones/">{% trans "Milestones / Kanban Board" %}</a></li>
                  {% endif %}
                  <li><a class="dropdown-item" href="/project/{{ remoteProject.path }}/{{ remoteProject.id }}/issues/">{% trans "Browse all Issues" %}</a></li>
                  {% if localProject.downloadablefile_set.count > 0 or projectReleases|length > 0 %}
                  <li>
                    <a class="dropdown-item" href="/project/{{ remoteProject.path }}/{{ remoteProject.id }}/downloads">{% trans "Documents & Downloads" %}</a>
                  </li>
                  {% endif %}
                </ul>
              </li>
              {% endif %}

              {% if wikiPages and localProject.enableDocumentation  %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/project/{{ remoteProject.path }}/{{ remoteProject.id }}/" id="navbarWikiDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa fa-book"></i> {% trans "Documentation" %}
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarWikiDropdown">
                  <li><a class="dropdown-item" href="/project/{{ remoteProject.path }}/{{ remoteProject.id }}/documentation/">{% trans "Full Documentation" %}</a></li>
                  <li><hr class="dropdown-divider"></li>
                  {% for wiki in wikiPages %}
                    <li><a class="dropdown-item" href="/project/{{ remoteProject.path }}/{{ remoteProject.id }}/documentation/?category={{ wiki.title }}">{{ forloop.counter }} {% if wiki.title == '/' %}{% trans 'Documentation' %}{% else %}{{ wiki.title }}{% endif %}</a></li>
                  {% endfor %}
                </ul>
              </li>
              {% endif %}
            </ul>
            <ul class="navbar-nav float-end mb-2 mb-lg-0">
              {% if request.user.is_staff and localProject %}
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#" data-bs-toggle="modal" data-bs-target="#exportModal"><i class="fa fa-download"></i> {% trans "Export" %}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" aria-current="page" href="/overview/">|</a>
              </li>
              {% endif %}
              {% if request.user.is_superuser %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/overview/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa fa-book"></i> {% trans "Administration" %}
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarWikiDropdown">
                  <li><a class="dropdown-item" href="/admin/">{% trans "Administration" %}</a></li>
                  <li><a class="dropdown-item" href="/cache/clear?redirect={{ request.path }}">{% trans "Clear cache" %}</a></li>
                  <li><a class="dropdown-item" href="/cache/warmup?redirect={{ request.path }}">{% trans "Warmup cache" %}</a></li>
                </ul>
              </li>
              {% endif %}
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/logout/"><i class="fa fa-power-off"></i></a>
              </li>
            </ul>
          </div>
          {% endif %}
        </div>
      </nav>
    {% endblock %}
    <br>
    {% block container %}
        <div class="container">
        {% block content %}
        {% endblock %}
          <br>
          <hr>  
          &copy; 2022
          <p class="float-end">powered by <a href="https://gitlab.com/software-design-public/twayn-devops-customer-view" class="text-muted" target="_blank"><strong>Twayn</strong> - DevOps Customer View</a></p>
          <br><br>
        </div>
    {% endblock %}
    
    {% block footer %}
    {% endblock %}
      
    {% block modals %}
        <div class="modal" id="exportModal" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">{% trans "Export project overview" %}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                {% trans "This export will generate an overview of all issues updated since the date you chose below and the sum of time spent since this day." %}<br><br>
                <input type="date" id="exportDate" class="form-control" value="{{ now|date:"Y-m-d" }}" onchange="document.getElementById('exportButton').href = '/project/{{ remoteProject.path }}/{{ remoteProject.id }}/print/'+this.value; ">
              </div>
              <div class="modal-footer">
                <a class="btn btn-primary" id="exportButton" href="/project/{{ remoteProject.path }}/{{ remoteProject.id }}/print/{{ now|date:"Y-m-d" }}">{% trans "Export" %}</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Close" %}</button>
              </div>
            </div>
          </div>
        </div>
    {% endblock %}

    {% block base_js %}
      <script nonce="{{ request.csp_nonce }}" src="/static/cdn/js/bootstrap.bundle.min.js"></script>
      <script nonce="{{ request.csp_nonce }}" src="/static/vendor/simplemde/simplemde.min.js"></script>
      <script nonce="{{ request.csp_nonce }}" src="/static/js/base.js"></script>
    {% endblock %}
    {% block extra_js %}
      <script nonce="{{ request.csp_nonce }}">
        function initEditor(){
          try {
            var simplemde = new SimpleMDE();
          } catch {}
        }
        initEditor();
      </script>
    {% endblock %}
  </body>
</html>
