{% extends base %}
{% load i18n %}
{% load dates %}

{% block content %}
<input type="text" id="searchInput" class="form-control float-end w-25 mt-1" placeholder="Search projects" onkeyup="searchProjects()">
<h1>{% trans "All your projects with us" %}</h1>
<div id="projectsHolder">
  {% for p in activeProjects %}
    {% with t='partials/project'|template %}
      {% include t with p=p %}
    {% endwith %}
  {% endfor %}
  {% for p in inactiveProjects %}
    {% with t='partials/project'|template %}
      {% include t with p=p %}
    {% endwith %}
  {% endfor %}
</div>
{% endblock %}