{% extends base %}
{% load i18n %}
{% load static %}
{% load template %}

{% block content %}

<div class="btn-group float-end" role="group">
  {% if localProject.enableExports %}
    <a href="/project/{{ remoteProject.path }}/{{ remoteProject.id }}/documentation/print/" class="btn btn-outline-primary"><i class="fa fa-book"></i> {% trans "Download Documentation" %}</a>
  {% endif %}
</div>

<h1>{{ localProject.name }}</h1>
  {{ remoteProject.description }}
  <br><br>
  <div class="row">
    <div class="col-3">
      <img class="w-100" src="{% if localProject.image %}{{ localProject.image.url }}{% else %}{{ remoteProject.avatar_url }}{% endif %}" alt="{% trans "No image found" %}">
    </div>
    <div class="col-9">
      <br>
      {% if not request.GET.category %}
        <h3>{% trans "Documentation" %}</h3>
      {% else %}
        <h3>{% trans "Chapter" %}{% if request.GET.category != '/' %} "{{ request.GET.category }}"{% else %} "{% trans 'Documentation' %}"{% endif %}</h3>
      {% endif %}
      {% with t='partials/tableofcontents'|template %}
        {% include t %}
      {% endwith %}
          <br />
    </div>
  </div>
  
{% endblock %}