{% extends '../base/base.html' %}

{% block base_css %}
<link rel="stylesheet" href="https://software-design.de/static/vendor/bootstrap-5.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://software-design.de/static/fonts/LatoLatin/latolatinfonts.css">
<link rel="stylesheet" href="https://software-design.de/static/css/main.css">
{% endblock %}

{% block base_js %}
<script defer src="https://software-design.de/static/vendor/fontawesome-pro-5.15.4/js/fontawesome.min.js"></script>
<script defer src="https://software-design.de/static/vendor/fontawesome-pro-5.15.4/js/regular.min.js"></script>
<script defer src="https://software-design.de/static/vendor/fontawesome-pro-5.15.4/js/brands.min.js"></script>
<script defer src="https://software-design.de/static/vendor/bootstrap-5.1.3/js/bootstrap.bundle.min.js"></script>
<script defer src="https://software-design.de/static/vendor/lightbox-2.11.3/js/lightbox-plus-jquery.min.js"></script>
{% endblock %}

{% block footer %}
<br><br>
<div class="horizontal-line primary-bg height-s overlay-xs rotated"></div>
  <footer class="secondary-bg overlay-xs secondary-txt pt-5 pb-1">
    <div class="container-lg">
      <div class="row">
        <div class="col-md-6 col-xl-3 col-sm-12">
          <br />
          <br />
          <h4 style="color: white;">SD Software-Design GmbH</h4>
          <div class="item-itext row">
            <div class="icon col-2 col-xl-3">
              <i class="far fa-home"></i>
            </div>
            <div class="text col-7 col-xl-9">
              <strong>
                Basler Landstraße 8
                <br />
                79111 Freiburg i. Br.
              </strong>
            </div>
          </div>
          <br />
          <div class="item-itext row">
            <div class="icon col-2 col-xl-3">
              <i class="far fa-phone-laptop"></i>
            </div>
            <div class="text col-7 col-xl-9">
              <a class="nolink text-white" href="tel:00497612163060"><strong>+49 (0) 761 216 306 - 0</strong></a>
              <br />
              <a class="nolink text-white" href="mailto:info@software-design.de"><strong>info@software-design.de</strong></a>
            </div>
          </div>
          <br />
          <div class="item-itext row">
            <div class="icon col-2 col-xl-3">
              <i class="far fa-clock"></i>
              <span class="d-none d-md-inline position-absolute translate-middle badge rounded-pill primary-bg" style="font-size: 17px;
                                         margin-top: 12px;"><a href="/kontakt/" data-bs-toggle="tooltip" data-bs-placement="left" title="Wir sind gerade erreichbar!" class="nolink"><i class="far fa-phone-plus"></i></a></span>
            </div>
            <div class="text col-7 col-xl-9">
              <strong>Öffnungszeiten</strong>
              <table class="w-100">
                <tr>
                  <td>Mo - Do</td>
                  <td>08 - 16 Uhr</td>
                </tr>
                <tr>
                  <td>Freitag</td>
                  <td>08 - 14 Uhr</td>
                </tr>
              </table>
            </div>
          </div>
          <br />
          <br />
        </div>
        <div class="d-none d-xl-block col-xl-4 offset-xl-1 text-justify">
          <br />
          <img src="https://software-design.de/static/img/sd_orange.png" alt="SD Software-Design GmbH" width="160" height="90" />
          <br />
          <br />
          <h5>Softwareentwicklung aus Freiburg</h5>
          Die SD Software-Design GmbH - ein mittelständisches Softwareunternehmen aus Freiburg - hat sich auf die Entwicklung und Programmierung individueller Cloud-Software, Webportalen und Schnittstellen spezialisiert. Wir entwickeln Anwendungen sowohl für den internen Gebrauch als auch Webportale, Software und Apps für Endkunden und den Weiterverkauf.
        </div>
        <div class="col-md-6 col-xl-3 offset-xl-1 mt-2">
          <h5>Unsere Kernkompetenzen</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item secondary-txt">
              <a href="/leistungen/programmierung-webentwicklung"><i class="primary-txt fa-fw far fa-browser"></i> Individuelle Programmierung</a>
            </li>
            <li class="list-group-item secondary-txt">
              <a href="/leistungen/cross-plattform-mobile-apps"><i class="primary-txt fa-fw far fa-phone-laptop"></i> Cross-Plattform Apps</a>
            </li>
            <li class="list-group-item secondary-txt">
              <a href="/leistungen/cloud-software-entwicklung"><i class="primary-txt fa-fw far fa-cloud"></i> Cloud-Software (SaaS)</a>
            </li>
            <li class="list-group-item secondary-txt">
              <a href="/leistungen/big-data-datenanalyse"><i class="primary-txt fa-fw far fa-database"></i> Datenbanken & Schnittstellen</a>
            </li>
            <li class="list-group-item secondary-txt">
              <a href="/leistungen/datenschutzberatung"><i class="primary-txt fa-fw far fa-user-shield"></i> Datenschutz & DSGVO</a>
            </li>
            <li class="list-group-item secondary-txt">
              <a href="/leistungen/digitalisierung"><i class="primary-txt fa-fw far fa-paper-plane"></i> Prozess-Digitalisierung</a>
            </li>
          </ul>
          <br />
          <div class="social">
            <a href="https://www.facebook.com/SoftwareDesignDe" target="_blank" title="Software-Design bei Facebook"><i class="fab fa-facebook"></i></a>
            <a href="https://www.youtube.com/channel/UCilkNrFGbMJZDgKXznuDPKw" target="_blank" title="Software-Design bei YouTube"><i class="fab fa-youtube"></i></a>
            <a href="https://www.xing.com/companies/sdsoftware-designgmbh" target="_blank" title="Software-Design bei Xing"><i class="fab fa-xing"></i></a>
            <a href="https://de.linkedin.com/company/sd-software-design-gmbh" target="_blank" title="Software-Design bei LinkedIn"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.instagram.com/sdsoftwaredesign/" target="_blank" title="Software-Design bei Instagram"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <br /><br />
  <div class="container-lg">
    <small><strong>© 2012 - 2022</strong> | <a href="/" title="Individuelle Softwareentwicklung von Software-Design" class="nolink">SD Software-Design GmbH</a></small>
    <div class="float-start float-md-end">
      <small><a href="/rechtliches/impressum" title="Software-Design Impressum" class="nolink">Impressum</a> | <a href="/rechtliches/datenschutz" title="Software-Design Datenschutz" class="nolink">Datenschutz</a> | <a href="/karriere/" class="nolink">Karriere</a> | <a href="/service/" class="nolink">Online-Services</a></small>
    </div>
  </div>
{% endblock %}
