{% load prettify %}
{% load i18n %}
<div class="row">
    {% if user.avatar %}
    <div class="col-5 text-end">
        <img src="{{ user.avatar.url }}" width="75">
    </div>
    {% endif %}
    <div class="col-7">
        <strong>{{ user.name }}</strong><br>
            {% with user.username|getTeamMember as employee %}
                {% if employee.email %}
                    <i class="far fa-envelope"></i> {{ employee.email }}<br>
                {% endif %}
                {% if employee.phone %}
                    <i class="far fa-phone"></i> {{ employee.phone }}
                {% endif %}
                {% if not employee.phone and not employee.email %}
                    @{{ user.username }}<br>
                    <a href="{{ user.web_url }}" target="_blank"><i class="fab fa-gitlab"></i> {% trans "GitLab Profile" %}</a>
                {% endif %}
            {% endwith %}
    </div>
</div>