{% load i18n %}
{% load parse_date %}
<strong>&raquo; {{ milestone.title }}</strong>
{% if request.user.is_superuser %}
<a href="{{ p.project.web_url }}" target="_blank"><i class="fab fa-gitlab"></i></a>
{% endif %}
<br>
{% if milestone.start_date or milestone.due_date %}
    {% if milestone.description %}<i class="far fa-file-edit"></i> <small>{{ milestone.description }}</small><br>{% endif %}
    <i class="far fa-calendar-alt"></i> <small>{{ milestone.start_date|parse_date|date:"d.m.Y" }} bis {{ milestone.due_date|parse_date|date:settings.DATE_FORMAT }}</small>
{% else %}
    {% trans 'No specified time range' %}
{% endif %}
<br>