{% load i18n %}
<ol class="list-group">
{% for path, category in wikiPages.items %}
    {% if not request.GET.category or request.GET.category == path %}
        {% with forloop.counter as no %}
            <li class="list-group-item list-group-item-light"><div class="fw-bold">{{ no }} {% if path == '/' %}{% trans 'Documentation' %}{% else %}{{ path }}{% endif %}</div></li>
                {% for page in category %}
                <li class="list-group-item text-capitalize"> &nbsp; <a href="/project/{{ remoteProject.path }}/{{ remoteProject.id }}/documentation/{{ page.slug }}">{{ no }}.{{ forloop.counter }} {{ page.title }}</a>
                </li>
                {% endfor %}
        {% endwith %}
    {% endif %}
{% endfor %}
</ol>